/*
  Theme Name: Starter HTML - Multipurpose HTML Template
  Author: MI Dexigner
  Support: support@midexigner.com
  Description: Creative  HTML5 template.
  Version: 1.0
*/
/* Cutom font set */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Poppins:300,400,500,600,700");
/* line 106, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em; }

/* line 20, ../../sass/partials/_base.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-style: normal; }

/* line 25, ../../sass/partials/_base.scss */
a {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  color: #708c87; }
  /* line 18, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
  a:visited {
    color: blue; }
  /* line 21, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
  a:focus {
    color: blue; }
  /* line 24, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
  a:hover {
    color: red; }
  /* line 27, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
  a:active {
    color: red; }

/* line 33, ../../sass/partials/_base.scss */
ul.social-links {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1; }
  /* line 62, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
  ul.social-links li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    float: left;
    padding-left: 4px;
    padding-right: 4px; }
    /* line 49, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
    ul.social-links li:first-child {
      padding-left: 0; }
    /* line 50, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
    ul.social-links li:last-child {
      padding-right: 0; }
    /* line 52, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
    ul.social-links li.last {
      padding-right: 0; }

/* line 34, ../../sass/partials/_base.scss */
ul.social-links li {
  list-style: none; }
  /* line 35, ../../sass/partials/_base.scss */
  ul.social-links li a {
    display: block;
    width: 65px;
    height: 65px;
    text-indent: -999px; }

/* line 44, ../../sass/partials/_base.scss */
.one {
  margin-top: 1.5em;
  margin-top: 1.5em;
  padding-top: 1.5em; }

/* line 50, ../../sass/partials/_base.scss */
.two {
  border-width: 0.3125em;
  border-style: dashed;
  padding: 1.1875em; }

/* line 53, ../../sass/partials/_base.scss */
.three {
  font-size: 1.125em;
  line-height: 1.33333em; }

/* line 56, ../../sass/partials/_base.scss */
.four {
  margin-bottom: 1.5em;
  border-bottom-width: 0.0625em;
  border-bottom-style: dashed;
  padding-bottom: 1.4375em; }

/*  sprites set */
/* line 72, icons/*.png */
.icons-sprite, .icons-facebook, .icons-twitter, .icons-youtube {
  background-image: url('/assets/img/icons-s236ac26124.png');
  background-repeat: no-repeat; }

/* line 84, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-facebook {
  background-position: 0 -192px; }
  /* line 59, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
  .icons-facebook:hover, .icons-facebook.facebook-hover {
    background-position: 0 0; }

/* line 84, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-twitter {
  background-position: 0 -64px; }

/* line 84, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-youtube {
  background-position: 0 -128px; }

/* 
icons-sprite-height(some_icon);
$width: icons-sprite-width(some_icon);
.twitter { @include icons-sprite(twitter); }
.facebook { @include icons-sprite(facebook); } */
/* line 6, ../../sass/partials/_loop.scss */
.mt-1 {
  margin-top: 10px; }

/* line 10, ../../sass/partials/_loop.scss */
.mb-1 {
  margin-bottom: 10px; }

/* line 15, ../../sass/partials/_loop.scss */
.ml-1 {
  margin-left: 10px; }

/* line 19, ../../sass/partials/_loop.scss */
.mr-1 {
  margin-right: 10px; }

/* line 24, ../../sass/partials/_loop.scss */
.pt-1 {
  padding-top: 10px; }

/* line 28, ../../sass/partials/_loop.scss */
.pb-1 {
  padding-bottom: 10px; }

/* line 33, ../../sass/partials/_loop.scss */
.pl-1 {
  padding-left: 10px; }

/* line 37, ../../sass/partials/_loop.scss */
.pr-1 {
  padding-right: 10px; }

/* line 6, ../../sass/partials/_loop.scss */
.mt-2 {
  margin-top: 20px; }

/* line 10, ../../sass/partials/_loop.scss */
.mb-2 {
  margin-bottom: 20px; }

/* line 15, ../../sass/partials/_loop.scss */
.ml-2 {
  margin-left: 20px; }

/* line 19, ../../sass/partials/_loop.scss */
.mr-2 {
  margin-right: 20px; }

/* line 24, ../../sass/partials/_loop.scss */
.pt-2 {
  padding-top: 20px; }

/* line 28, ../../sass/partials/_loop.scss */
.pb-2 {
  padding-bottom: 20px; }

/* line 33, ../../sass/partials/_loop.scss */
.pl-2 {
  padding-left: 20px; }

/* line 37, ../../sass/partials/_loop.scss */
.pr-2 {
  padding-right: 20px; }

/* line 6, ../../sass/partials/_loop.scss */
.mt-3 {
  margin-top: 30px; }

/* line 10, ../../sass/partials/_loop.scss */
.mb-3 {
  margin-bottom: 30px; }

/* line 15, ../../sass/partials/_loop.scss */
.ml-3 {
  margin-left: 30px; }

/* line 19, ../../sass/partials/_loop.scss */
.mr-3 {
  margin-right: 30px; }

/* line 24, ../../sass/partials/_loop.scss */
.pt-3 {
  padding-top: 30px; }

/* line 28, ../../sass/partials/_loop.scss */
.pb-3 {
  padding-bottom: 30px; }

/* line 33, ../../sass/partials/_loop.scss */
.pl-3 {
  padding-left: 30px; }

/* line 37, ../../sass/partials/_loop.scss */
.pr-3 {
  padding-right: 30px; }

/* line 6, ../../sass/partials/_loop.scss */
.mt-4 {
  margin-top: 40px; }

/* line 10, ../../sass/partials/_loop.scss */
.mb-4 {
  margin-bottom: 40px; }

/* line 15, ../../sass/partials/_loop.scss */
.ml-4 {
  margin-left: 40px; }

/* line 19, ../../sass/partials/_loop.scss */
.mr-4 {
  margin-right: 40px; }

/* line 24, ../../sass/partials/_loop.scss */
.pt-4 {
  padding-top: 40px; }

/* line 28, ../../sass/partials/_loop.scss */
.pb-4 {
  padding-bottom: 40px; }

/* line 33, ../../sass/partials/_loop.scss */
.pl-4 {
  padding-left: 40px; }

/* line 37, ../../sass/partials/_loop.scss */
.pr-4 {
  padding-right: 40px; }

/* line 6, ../../sass/partials/_loop.scss */
.mt-5 {
  margin-top: 50px; }

/* line 10, ../../sass/partials/_loop.scss */
.mb-5 {
  margin-bottom: 50px; }

/* line 15, ../../sass/partials/_loop.scss */
.ml-5 {
  margin-left: 50px; }

/* line 19, ../../sass/partials/_loop.scss */
.mr-5 {
  margin-right: 50px; }

/* line 24, ../../sass/partials/_loop.scss */
.pt-5 {
  padding-top: 50px; }

/* line 28, ../../sass/partials/_loop.scss */
.pb-5 {
  padding-bottom: 50px; }

/* line 33, ../../sass/partials/_loop.scss */
.pl-5 {
  padding-left: 50px; }

/* line 37, ../../sass/partials/_loop.scss */
.pr-5 {
  padding-right: 50px; }

/* line 6, ../../sass/partials/_loop.scss */
.mt-6 {
  margin-top: 60px; }

/* line 10, ../../sass/partials/_loop.scss */
.mb-6 {
  margin-bottom: 60px; }

/* line 15, ../../sass/partials/_loop.scss */
.ml-6 {
  margin-left: 60px; }

/* line 19, ../../sass/partials/_loop.scss */
.mr-6 {
  margin-right: 60px; }

/* line 24, ../../sass/partials/_loop.scss */
.pt-6 {
  padding-top: 60px; }

/* line 28, ../../sass/partials/_loop.scss */
.pb-6 {
  padding-bottom: 60px; }

/* line 33, ../../sass/partials/_loop.scss */
.pl-6 {
  padding-left: 60px; }

/* line 37, ../../sass/partials/_loop.scss */
.pr-6 {
  padding-right: 60px; }

/* line 6, ../../sass/partials/_loop.scss */
.mt-7 {
  margin-top: 70px; }

/* line 10, ../../sass/partials/_loop.scss */
.mb-7 {
  margin-bottom: 70px; }

/* line 15, ../../sass/partials/_loop.scss */
.ml-7 {
  margin-left: 70px; }

/* line 19, ../../sass/partials/_loop.scss */
.mr-7 {
  margin-right: 70px; }

/* line 24, ../../sass/partials/_loop.scss */
.pt-7 {
  padding-top: 70px; }

/* line 28, ../../sass/partials/_loop.scss */
.pb-7 {
  padding-bottom: 70px; }

/* line 33, ../../sass/partials/_loop.scss */
.pl-7 {
  padding-left: 70px; }

/* line 37, ../../sass/partials/_loop.scss */
.pr-7 {
  padding-right: 70px; }

/* line 6, ../../sass/partials/_loop.scss */
.mt-8 {
  margin-top: 80px; }

/* line 10, ../../sass/partials/_loop.scss */
.mb-8 {
  margin-bottom: 80px; }

/* line 15, ../../sass/partials/_loop.scss */
.ml-8 {
  margin-left: 80px; }

/* line 19, ../../sass/partials/_loop.scss */
.mr-8 {
  margin-right: 80px; }

/* line 24, ../../sass/partials/_loop.scss */
.pt-8 {
  padding-top: 80px; }

/* line 28, ../../sass/partials/_loop.scss */
.pb-8 {
  padding-bottom: 80px; }

/* line 33, ../../sass/partials/_loop.scss */
.pl-8 {
  padding-left: 80px; }

/* line 37, ../../sass/partials/_loop.scss */
.pr-8 {
  padding-right: 80px; }

/* line 6, ../../sass/partials/_loop.scss */
.mt-9 {
  margin-top: 90px; }

/* line 10, ../../sass/partials/_loop.scss */
.mb-9 {
  margin-bottom: 90px; }

/* line 15, ../../sass/partials/_loop.scss */
.ml-9 {
  margin-left: 90px; }

/* line 19, ../../sass/partials/_loop.scss */
.mr-9 {
  margin-right: 90px; }

/* line 24, ../../sass/partials/_loop.scss */
.pt-9 {
  padding-top: 90px; }

/* line 28, ../../sass/partials/_loop.scss */
.pb-9 {
  padding-bottom: 90px; }

/* line 33, ../../sass/partials/_loop.scss */
.pl-9 {
  padding-left: 90px; }

/* line 37, ../../sass/partials/_loop.scss */
.pr-9 {
  padding-right: 90px; }

/* line 6, ../../sass/partials/_loop.scss */
.mt-10 {
  margin-top: 100px; }

/* line 10, ../../sass/partials/_loop.scss */
.mb-10 {
  margin-bottom: 100px; }

/* line 15, ../../sass/partials/_loop.scss */
.ml-10 {
  margin-left: 100px; }

/* line 19, ../../sass/partials/_loop.scss */
.mr-10 {
  margin-right: 100px; }

/* line 24, ../../sass/partials/_loop.scss */
.pt-10 {
  padding-top: 100px; }

/* line 28, ../../sass/partials/_loop.scss */
.pb-10 {
  padding-bottom: 100px; }

/* line 33, ../../sass/partials/_loop.scss */
.pl-10 {
  padding-left: 100px; }

/* line 37, ../../sass/partials/_loop.scss */
.pr-10 {
  padding-right: 100px; }

/* line 6, ../../sass/partials/_loop.scss */
.mt-11 {
  margin-top: 110px; }

/* line 10, ../../sass/partials/_loop.scss */
.mb-11 {
  margin-bottom: 110px; }

/* line 15, ../../sass/partials/_loop.scss */
.ml-11 {
  margin-left: 110px; }

/* line 19, ../../sass/partials/_loop.scss */
.mr-11 {
  margin-right: 110px; }

/* line 24, ../../sass/partials/_loop.scss */
.pt-11 {
  padding-top: 110px; }

/* line 28, ../../sass/partials/_loop.scss */
.pb-11 {
  padding-bottom: 110px; }

/* line 33, ../../sass/partials/_loop.scss */
.pl-11 {
  padding-left: 110px; }

/* line 37, ../../sass/partials/_loop.scss */
.pr-11 {
  padding-right: 110px; }

/* line 6, ../../sass/partials/_loop.scss */
.mt-12 {
  margin-top: 120px; }

/* line 10, ../../sass/partials/_loop.scss */
.mb-12 {
  margin-bottom: 120px; }

/* line 15, ../../sass/partials/_loop.scss */
.ml-12 {
  margin-left: 120px; }

/* line 19, ../../sass/partials/_loop.scss */
.mr-12 {
  margin-right: 120px; }

/* line 24, ../../sass/partials/_loop.scss */
.pt-12 {
  padding-top: 120px; }

/* line 28, ../../sass/partials/_loop.scss */
.pb-12 {
  padding-bottom: 120px; }

/* line 33, ../../sass/partials/_loop.scss */
.pl-12 {
  padding-left: 120px; }

/* line 37, ../../sass/partials/_loop.scss */
.pr-12 {
  padding-right: 120px; }

/* line 6, ../../sass/partials/_loop.scss */
.mt-13 {
  margin-top: 130px; }

/* line 10, ../../sass/partials/_loop.scss */
.mb-13 {
  margin-bottom: 130px; }

/* line 15, ../../sass/partials/_loop.scss */
.ml-13 {
  margin-left: 130px; }

/* line 19, ../../sass/partials/_loop.scss */
.mr-13 {
  margin-right: 130px; }

/* line 24, ../../sass/partials/_loop.scss */
.pt-13 {
  padding-top: 130px; }

/* line 28, ../../sass/partials/_loop.scss */
.pb-13 {
  padding-bottom: 130px; }

/* line 33, ../../sass/partials/_loop.scss */
.pl-13 {
  padding-left: 130px; }

/* line 37, ../../sass/partials/_loop.scss */
.pr-13 {
  padding-right: 130px; }

/* line 6, ../../sass/partials/_loop.scss */
.mt-14 {
  margin-top: 140px; }

/* line 10, ../../sass/partials/_loop.scss */
.mb-14 {
  margin-bottom: 140px; }

/* line 15, ../../sass/partials/_loop.scss */
.ml-14 {
  margin-left: 140px; }

/* line 19, ../../sass/partials/_loop.scss */
.mr-14 {
  margin-right: 140px; }

/* line 24, ../../sass/partials/_loop.scss */
.pt-14 {
  padding-top: 140px; }

/* line 28, ../../sass/partials/_loop.scss */
.pb-14 {
  padding-bottom: 140px; }

/* line 33, ../../sass/partials/_loop.scss */
.pl-14 {
  padding-left: 140px; }

/* line 37, ../../sass/partials/_loop.scss */
.pr-14 {
  padding-right: 140px; }

/* line 6, ../../sass/partials/_loop.scss */
.mt-15 {
  margin-top: 150px; }

/* line 10, ../../sass/partials/_loop.scss */
.mb-15 {
  margin-bottom: 150px; }

/* line 15, ../../sass/partials/_loop.scss */
.ml-15 {
  margin-left: 150px; }

/* line 19, ../../sass/partials/_loop.scss */
.mr-15 {
  margin-right: 150px; }

/* line 24, ../../sass/partials/_loop.scss */
.pt-15 {
  padding-top: 150px; }

/* line 28, ../../sass/partials/_loop.scss */
.pb-15 {
  padding-bottom: 150px; }

/* line 33, ../../sass/partials/_loop.scss */
.pl-15 {
  padding-left: 150px; }

/* line 37, ../../sass/partials/_loop.scss */
.pr-15 {
  padding-right: 150px; }

/* line 6, ../../sass/partials/_loop.scss */
.mt-16 {
  margin-top: 160px; }

/* line 10, ../../sass/partials/_loop.scss */
.mb-16 {
  margin-bottom: 160px; }

/* line 15, ../../sass/partials/_loop.scss */
.ml-16 {
  margin-left: 160px; }

/* line 19, ../../sass/partials/_loop.scss */
.mr-16 {
  margin-right: 160px; }

/* line 24, ../../sass/partials/_loop.scss */
.pt-16 {
  padding-top: 160px; }

/* line 28, ../../sass/partials/_loop.scss */
.pb-16 {
  padding-bottom: 160px; }

/* line 33, ../../sass/partials/_loop.scss */
.pl-16 {
  padding-left: 160px; }

/* line 37, ../../sass/partials/_loop.scss */
.pr-16 {
  padding-right: 160px; }

/* line 6, ../../sass/partials/_loop.scss */
.mt-17 {
  margin-top: 170px; }

/* line 10, ../../sass/partials/_loop.scss */
.mb-17 {
  margin-bottom: 170px; }

/* line 15, ../../sass/partials/_loop.scss */
.ml-17 {
  margin-left: 170px; }

/* line 19, ../../sass/partials/_loop.scss */
.mr-17 {
  margin-right: 170px; }

/* line 24, ../../sass/partials/_loop.scss */
.pt-17 {
  padding-top: 170px; }

/* line 28, ../../sass/partials/_loop.scss */
.pb-17 {
  padding-bottom: 170px; }

/* line 33, ../../sass/partials/_loop.scss */
.pl-17 {
  padding-left: 170px; }

/* line 37, ../../sass/partials/_loop.scss */
.pr-17 {
  padding-right: 170px; }

/* line 6, ../../sass/partials/_loop.scss */
.mt-18 {
  margin-top: 180px; }

/* line 10, ../../sass/partials/_loop.scss */
.mb-18 {
  margin-bottom: 180px; }

/* line 15, ../../sass/partials/_loop.scss */
.ml-18 {
  margin-left: 180px; }

/* line 19, ../../sass/partials/_loop.scss */
.mr-18 {
  margin-right: 180px; }

/* line 24, ../../sass/partials/_loop.scss */
.pt-18 {
  padding-top: 180px; }

/* line 28, ../../sass/partials/_loop.scss */
.pb-18 {
  padding-bottom: 180px; }

/* line 33, ../../sass/partials/_loop.scss */
.pl-18 {
  padding-left: 180px; }

/* line 37, ../../sass/partials/_loop.scss */
.pr-18 {
  padding-right: 180px; }

/* line 6, ../../sass/partials/_loop.scss */
.mt-19 {
  margin-top: 190px; }

/* line 10, ../../sass/partials/_loop.scss */
.mb-19 {
  margin-bottom: 190px; }

/* line 15, ../../sass/partials/_loop.scss */
.ml-19 {
  margin-left: 190px; }

/* line 19, ../../sass/partials/_loop.scss */
.mr-19 {
  margin-right: 190px; }

/* line 24, ../../sass/partials/_loop.scss */
.pt-19 {
  padding-top: 190px; }

/* line 28, ../../sass/partials/_loop.scss */
.pb-19 {
  padding-bottom: 190px; }

/* line 33, ../../sass/partials/_loop.scss */
.pl-19 {
  padding-left: 190px; }

/* line 37, ../../sass/partials/_loop.scss */
.pr-19 {
  padding-right: 190px; }

/* line 6, ../../sass/partials/_loop.scss */
.mt-20 {
  margin-top: 200px; }

/* line 10, ../../sass/partials/_loop.scss */
.mb-20 {
  margin-bottom: 200px; }

/* line 15, ../../sass/partials/_loop.scss */
.ml-20 {
  margin-left: 200px; }

/* line 19, ../../sass/partials/_loop.scss */
.mr-20 {
  margin-right: 200px; }

/* line 24, ../../sass/partials/_loop.scss */
.pt-20 {
  padding-top: 200px; }

/* line 28, ../../sass/partials/_loop.scss */
.pb-20 {
  padding-bottom: 200px; }

/* line 33, ../../sass/partials/_loop.scss */
.pl-20 {
  padding-left: 200px; }

/* line 37, ../../sass/partials/_loop.scss */
.pr-20 {
  padding-right: 200px; }

/* line 50, ../../sass/partials/_loop.scss */
.grid-1 {
  width: 100%; }

/* line 50, ../../sass/partials/_loop.scss */
.grid-2 {
  width: 50%; }

/* line 50, ../../sass/partials/_loop.scss */
.grid-3 {
  width: 33.33333%; }

/* line 50, ../../sass/partials/_loop.scss */
.grid-4 {
  width: 25%; }

/* line 50, ../../sass/partials/_loop.scss */
.grid-5 {
  width: 20%; }

/* line 50, ../../sass/partials/_loop.scss */
.grid-6 {
  width: 16.66667%; }

/* line 79, ../../sass/partials/_loop.scss */
.text-gray {
  color: #f7f7fd; }

/* line 83, ../../sass/partials/_loop.scss */
.bg-gray {
  background-color: #f7f7fd; }

/* line 79, ../../sass/partials/_loop.scss */
.text-white {
  color: #fff; }

/* line 83, ../../sass/partials/_loop.scss */
.bg-white {
  background-color: #fff; }

/* line 79, ../../sass/partials/_loop.scss */
.text-black {
  color: #000; }

/* line 83, ../../sass/partials/_loop.scss */
.bg-black {
  background-color: #000; }

/* line 79, ../../sass/partials/_loop.scss */
.text-red {
  color: #f00; }

/* line 83, ../../sass/partials/_loop.scss */
.bg-red {
  background-color: #f00; }

/* line 79, ../../sass/partials/_loop.scss */
.text-primary {
  color: #ccc; }

/* line 83, ../../sass/partials/_loop.scss */
.bg-primary {
  background-color: #ccc; }

/* line 79, ../../sass/partials/_loop.scss */
.text-secondary {
  color: #333; }

/* line 83, ../../sass/partials/_loop.scss */
.bg-secondary {
  background-color: #333; }

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%); }
  100% {
    opacity: 0.9;
    transform: translateY(0); } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
/*colour change animation*/
@keyframes color-change {
  0% {
    -webkit-border-top-color: #7DBA2F;
    -ms-border-top-color: #7DBA2F;
    -o-border-top-color: #7DBA2F;
    border-top-color: #7DBA2F; }
  100% {
    -webkit-border-top-color: #ce1483;
    -ms-border-top-color: #ce1483;
    -o-border-top-color: #ce1483;
    border-top-color: #ce1483; } }
/* line 1, ../../sass/partials/_default.scss */
.wrapper {
  width: 100%;
  box-sizing: border-box;
  position: relative; }

/* line 7, ../../sass/partials/_default.scss */
.background-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

/* line 12, ../../sass/partials/_default.scss */
.background-no-repeat {
  background-repeat: no-repeat; }

/* line 15, ../../sass/partials/_default.scss */
.dtable {
  display: table;
  width: 100%;
  height: 100%; }
  /* line 19, ../../sass/partials/_default.scss */
  .dtable .dtable-cell {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle; }

/* line 28, ../../sass/partials/_default.scss */
.hidden {
  display: none; }

/* line 31, ../../sass/partials/_default.scss */
.img {
  width: 100%;
  max-width: 100%;
  transition: all 0.3s ease-out 0s; }

/* line 36, ../../sass/partials/_default.scss */
.img-left {
  width: 100%;
  max-width: 50px; }

/* line 40, ../../sass/partials/_default.scss */
.img-right {
  width: 100%;
  max-width: 50px; }

/* line 44, ../../sass/partials/_default.scss */
.f-left {
  float: left !important; }

/* line 47, ../../sass/partials/_default.scss */
.f-right {
  float: right !important; }

/* line 50, ../../sass/partials/_default.scss */
.fix {
  overflow: hidden !important; }

/* line 53, ../../sass/partials/_default.scss */
.height-100 {
  height: 100vh; }

/* line 56, ../../sass/partials/_default.scss */
.height-fix {
  height: 250px; }

/* header sticky */
/* line 2, ../../sass/partials/_modules.scss */
.header-sticky.sticky {
  animation: slide-down 0.7s;
  background-color: rgba(102, 204, 0, 0.95);
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  opacity: 0.9;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); }

/*  Page Banner */
/* line 6, ../../sass/partials/_modules.scss */
#inner-banner {
  width: 100%;
  position: relative;
  color: #fff; }
  /* line 5, ../../sass/partials/_mixins.scss */
  #inner-banner:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #eaee44, #33d0ff);
    opacity: .7;
    z-index: 1; }
    @supports (mix-blend-mode: hue) {
      /* line 5, ../../sass/partials/_mixins.scss */
      #inner-banner:after {
        opacity: 1;
        mix-blend-mode: color;
        mix-blend-mode: hard-light;
        mix-blend-mode: hue; } }
  /* line 23, ../../sass/partials/_mixins.scss */
  #inner-banner .caption-text {
    color: #fff; }
  /* line 26, ../../sass/partials/_mixins.scss */
  #inner-banner > * {
    z-index: 100; }
  /* line 9, ../../sass/partials/_modules.scss */
  #inner-banner .jumbotron {
    background: none; }

/* button  */
/* line 14, ../../sass/partials/_modules.scss */
.btn {
  -moz-user-select: none;
  background: #1696e7;
  border: medium none;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 0;
  padding: 13px 25px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
  white-space: nowrap; }
  /* line 50, ../../sass/partials/_mixins.scss */
  .btn:hover {
    background: #032f3e; }

/*  Scroll up */
/* line 19, ../../sass/partials/_modules.scss */
#scrollUp {
  background: #7DBA2F;
  height: 35px;
  width: 35px;
  right: 50px;
  bottom: 77px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
  line-height: 34px; }

/* line 32, ../../sass/partials/_modules.scss */
#scrollUp:hover {
  background: #444; }

/*  loader  */
/* line 38, ../../sass/partials/_modules.scss */
#mi-loader {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  z-index: 9999;
  height: 100%;
  width: 100%; }
  /* line 46, ../../sass/partials/_modules.scss */
  #mi-loader .loader {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto auto; }
    /* line 120, ../../sass/partials/_mixins.scss */
    #mi-loader .loader:before, #mi-loader .loader:after {
      position: absolute;
      top: 10px;
      left: -10px;
      content: '';
      width: 100%;
      height: 100%;
      border-radius: 100%;
      border: 10px solid transparent; }
    /* line 130, ../../sass/partials/_mixins.scss */
    #mi-loader .loader:before {
      border-top-color: #ed7d3a;
      z-index: 100;
      /*spin animation*/
      animation: spin 1s ease-out infinite;
      -webkit-animation: spin 1s ease-out infinite, color-change 1s ease-out infinite alternate;
      -moz-animation: spin 1s ease-out infinite, color-change 1s ease-out infinite alternate;
      -ms-animation: spin 1s ease-out infinite, color-change 1s ease-out infinite alternate;
      -o-animation: spin 1s ease-out infinite, color-change 1s ease-out infinite alternate; }
    /* line 140, ../../sass/partials/_mixins.scss */
    #mi-loader .loader:after {
      border-color: #ccc; }

/* line 1, ../../sass/layout/_main.scss */
.half {
  height: include 732.5px; }

/* line 5, ../../sass/layout/_main.scss */
.half1 {
  height: include 492.5px; }

/* line 9, ../../sass/layout/_main.scss */
.half2 {
  height: include 492.5px; }
