/*
  Theme Name: UFO DRONCEK
  Author: FLK Team
  Description: Landing Page Product
  Version: 1.0
*/
/* Cutom font set */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
html {
    font-size: 100%;
    line-height: 1.5em;
}
/*
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue.otf') format("openType");
    font-weight: bolder;
}
@font-face {
     font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueThin.otf') format("openType");
    font-weight: thin;
}
@font-face {
     font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueRegular.otf') format("openType");
    font-weight: regular;
}
@font-face {
     font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueLight.otf') format("openType");
    font-weight: light;
}
@font-face {
        font-family: 'Bebas Neue Book';
    src: url('../fonts/BebasNeueBook.otf') format("openType");
}
@font-face {
     font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue Bold_0.otf') format("openType");
    font-weight: bold;

}*/
.topbar .menu_section ul li{
    color: #fff;
    float: left;
    display: inline-block;
    width: auto;
    border: 0px;
    padding-right: 25px;
    padding-top: 15px;
    text-transform: uppercase;
    padding-left: 3px;

    outline: none;
}
.menu_section ul li a{
    color: #fff;
    text-decoration: none !important;
    font-size: 15px;
    font-weight: 600;
}
.cart-count span{
    border: 1px solid #fff;
    padding: 3px 8px;
    border-radius: 100%;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueLight.eot');
    src: url('../fonts/BebasNeueLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeueLight.woff2') format('woff2'),
    url('../fonts/BebasNeueLight.woff') format('woff'),
    url('../fonts/BebasNeueLight.ttf') format('truetype'),
    url('../fonts/BebasNeueLight.svg#BebasNeueLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueRegular.eot');
    src: url('../fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeueRegular.woff2') format('woff2'),
    url('../fonts/BebasNeueRegular.woff') format('woff'),
    url('../fonts/BebasNeueRegular.ttf') format('truetype'),
    url('../fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue.eot');
    src: url('../fonts/BebasNeue.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeue.woff2') format('woff2'),
    url('../fonts/BebasNeue.woff') format('woff'),
    url('../fonts/BebasNeue.ttf') format('truetype'),
    url('../fonts/BebasNeue.svg#BebasNeue') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Book';
    src: url('../fonts/BebasNeueBook.eot');
    src: url('../fonts/BebasNeueBook.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeueBook.woff2') format('woff2'),
    url('../fonts/BebasNeueBook.woff') format('woff'),
    url('../fonts/BebasNeueBook.ttf') format('truetype'),
    url('../fonts/BebasNeueBook.svg#BebasNeueBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Thin.eot');
    src: url('../fonts/BebasNeue-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeue-Thin.woff2') format('woff2'),
    url('../fonts/BebasNeue-Thin.woff') format('woff'),
    url('../fonts/BebasNeue-Thin.ttf') format('truetype'),
    url('../fonts/BebasNeue-Thin.svg#BebasNeue-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueBold.eot');
    src: url('../fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeueBold.woff2') format('woff2'),
    url('../fonts/BebasNeueBold.woff') format('woff'),
    url('../fonts/BebasNeueBold.ttf') format('truetype'),
    url('../fonts/BebasNeueBold.svg#BebasNeueBold') format('svg');
    font-weight: bold;
    font-style: normal;
}


.slider-left h2{
    font-size: 66px;
    color: #2f7fb7;
    font-family: 'Bebas Neue';
    font-weight: 500;
    line-height: 63px;
    margin-bottom: 10px;

}
.slider-left h5{
    font-size: 18px;
    color: #2f7fb7;
    font-family: 'Bebas Neue';
    font-weight: 800;
    line-height: 27px;
    margin-bottom: 10px;
}
.orange-button a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    background: #f68b35;
    color: #fff;
    padding: 12px 50px !important;
    margin-top: 25px;
    display: inline-block;
    letter-spacing: 0px;
    font-weight: 700;
    text-decoration: none;
}
.orange-button a:hover{
    background-color: #2f7fb7;
    color: #fff;
    text-decoration: none;
}
body {
    font-family: 'Montserrat', sans-serif;
}


a {
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
    -webkit-transition-duration: 2s;
    transition-duration: 2s;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    color: #708c87; }
a:visited {
    color: blue; }
a:focus {
    color: blue; }
a:hover {
    color: red; }
a:active {
    color: red; }

/*  Top bar Styling */
.topbar{
    padding: 10px 0px 3px;
    background: #2f7fb7;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
}
.welcome-note{color: #ffffff;font-size:12px;}


/* 
Helper Classes
*/

.text-gray {
    color: #f7f7fd;
}

.bg-gray {
    background-color: #f7f7fd;
}

.text-white {
    color: #fff;
}

.bg-white {
    background-color: #fff;
}

.text-black {
    color: #000;
}

.bg-black {
    background-color: #000;
}

.text-red {
    color: #f00;
}

.bg-red {
    background-color: #f00;
}

.text-primary {
    color: #ccc;
}

.bg-primary {
    background-color: #ccc;
}

.text-secondary {
    color: #333;
}

.bg-secondary {
    background-color: #333;
}
 .wrapper .header-sticky a.navbar-brand{
    color: #2f7fb7;
    font-weight: 800;
    font-size: 25px;
    padding-top: 0px;
        visibility: visible !important;
}

 .top_logo{
     font-weight: 800;
     font-size: 25px;
     padding-top: 4px;
     color: #fff!important;
     text-decoration: none!important;
     display: block;
 }
.header-sticky.sticky a.navbar-brand{
    color: #fff;
}
@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%); }
    100% {
        opacity: 0.9;
        transform: translateY(0); } }
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg); }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg); }
}
/*colour change animation*/
@keyframes color-change {
    0% {
        -webkit-border-top-color: #7DBA2F;
        -ms-border-top-color: #7DBA2F;
        -o-border-top-color: #7DBA2F;
        border-top-color: #7DBA2F; }
    100% {
        -webkit-border-top-color: #ce1483;
        -ms-border-top-color: #ce1483;
        -o-border-top-color: #ce1483;
        border-top-color: #ce1483; }
}

.wrapper {
    width: 100%;
    box-sizing: border-box;
    position: relative;
}


.background-image {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}


.background-no-repeat {
    background-repeat: no-repeat;
}


.dtable {
    display: table;
    width: 100%;
    height: 100%; }
.dtable .dtable-cell {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.hidden {
    display: none;
}

.img {
    width: 100%;
    max-width: 100%;
    transition: all 0.3s ease-out 0s; }


.img-left {
    width: 100%;
    max-width: 50px; }


.img-right {
    width: 100%;
    max-width: 50px; }


.f-left {
    float: left !important; }


.f-right {
    float: right !important; }


.fix {
    overflow: hidden !important; }


.height-100 {
    height: 100vh;
}

.height-fix {
    height: 250px; }

/* header sticky */

.header-sticky.sticky {
    animation: slide-down 0.7s;
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    opacity: 0.9;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); 
        padding-bottom: 10px;
    
}

/*  Page Banner */

#inner-banner {
    width: 100%;
    position: relative;
    color: #fff; }
#inner-banner:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #eaee44, #33d0ff);
    opacity: .7;
    z-index: 1; }
@supports (mix-blend-mode: hue) {

    #inner-banner:after {
        opacity: 1;
        mix-blend-mode: color;
        mix-blend-mode: hard-light;
        mix-blend-mode: hue; } }

#inner-banner .caption-text {
    color: #fff; }

#inner-banner > * {
    z-index: 100; }
#inner-banner .jumbotron {
    background: none; }

/* button  */
.btn {
    -moz-user-select: none;
    background: #1696e7;
    border: medium none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 0;
    padding: 13px 25px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    white-space: nowrap; }
.btn:hover {
    background: #032f3e; }

/*  Scroll up */
#scrollUp {
    background: #7DBA2F;
    height: 35px;
    width: 35px;
    right: 50px;
    bottom: 77px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    line-height: 34px; }
#scrollUp:hover {
    background: #444; }

/*  loader  */

#mi-loader {
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 9999;
    height: 100%;
    width: 100%; }
#mi-loader .loader {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto auto; }

#mi-loader .loader:before, #mi-loader .loader:after {
    position: absolute;
    top: 10px;
    left: -10px;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 10px solid transparent; }
#mi-loader .loader:before {
    border-top-color: #ed7d3a;
    z-index: 100;
    /*spin animation*/
    animation: spin 1s ease-out infinite;
    -webkit-animation: spin 1s ease-out infinite, color-change 1s ease-out infinite alternate;
    -moz-animation: spin 1s ease-out infinite, color-change 1s ease-out infinite alternate;
    -ms-animation: spin 1s ease-out infinite, color-change 1s ease-out infinite alternate;
    -o-animation: spin 1s ease-out infinite, color-change 1s ease-out infinite alternate; }
/* line 140, ../../sass/partials/_mixins.scss */
#mi-loader .loader:after {
    border-color: #ccc;
}



.slider {
    background-image: url('../img/bg.png');
    padding: 14% 0px;
    margin-bottom: 30px;
}

.slider-left h3{
    color: #2f7fb7;text-transform: uppercase;font-size: 26px;line-height: 22px;margin-bottom: -15px;padding-bottom: 0px;
}

.product_preview .box{
    padding: 42px 48px;
    background: #fff;
    box-shadow: 0px 8px 10px -1px #ccc;
    margin-top: -21%;
}

.product_preview .box h2{
    font-size: 66px;
    color: #2f7fb7;
    font-family: 'Bebas Neue';
    font-weight: 500;
    line-height: 63px;
    margin-bottom: 10px;
}
.product_preview .box h2 span{
    font-weight: 300;
        font-family: 'Bebas Neue Book';
}
.product_preview p{
    color: #5d5d5d;
    font-size: 16px;
    line-height: 24px;
    margin: 20px 0px
}
.product_preview .col-md-5{
    padding-top: 30px;
}
.product_preview{
    padding: 4% 0 4%;
}
.great_gift h4{
    color: #f68b35;
    text-transform: uppercase;
    font-size: 26px;
    word-spacing: 3px;
    letter-spacing: 3px;
    font-weight: initial;
}
.great_gift h3{
    text-transform: uppercase;
    font-size: 48px;
    color: #2f7fb7;
    margin-top: -5px;
     font-family: 'Bebas Neue';
    font-weight: bold;
}
.great_gift .orange-button a{
    width: 220px;
    margin-top: 72px;
    text-align: center;
}
.product_feature{
    background: #2f7fb7;
    padding: 50px 0px;
    margin: 50px 0px 0px;
    color: #fff;
}
.product_feature h5{
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    font-weight: 200;
}
.product_feature p {
    font-size: 16px;
    font-weight: 200;
}
.product_feature ul li {
    font-size: 16px;
    margin: 6px 0px;
    font-weight: 200;
    display:flex;
}
.product_feature ul  li:before {
    content: "\f00c";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -0.3em;
    width: 1.3em;
    padding-right: 35px;
}
/*
.product_feature .bg_feature:before{
    content: "";
    background-image: url("../img/bg_f2.png");
    position: absolute;
    right: 0px;

}*/
.product_feature{
    background-image: url("../img/bg_feature.png");
    padding: 50px 0px;
    margin: 50px 0px 0px;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.product_spcification {
    text-align: center;
    background: #1c1c1c;
    color: #fff;
    padding: 50px 0px;
}
.product_spcification img{
    display: inline-block;
    padding: 30px 0 50px;
}
.product_spcification h2 span {
    font-weight: 300;
        font-family: 'Bebas Neue Book';
}
.product_spcification  h2  {
    font-size: 66px;
    font-family: 'Bebas Neue';
    font-weight: 500;
    line-height: 63px;
    margin-bottom: 10px
}

.product_feature h3 span {
    font-weight: 300;
        font-family: 'Bebas Neue Book';
}
.product_feature  h3  {
    font-size: 66px;
    font-family: 'Bebas Neue';
    font-weight: 500;
    line-height: 63px;
    margin-bottom: 10px
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
.product_spcification ul li {
    font-size: 16px;
    margin: 6px 0px;
    font-weight: 200;
    display: flex;
}
.product_spcification ul li:before {
    content: "\f00c";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -0.3em;
    width: 1.3em;
    padding-right: 35px;
}
.great_gift{
    padding: 50px 0px;
}
.product_discount{
    padding: 10px 0;
}
.product_discount  h1{
    font-size: 66px;
    color: #2f7fb7;
    font-family: 'Bebas Neue';
    font-weight: 500;
    line-height: 63px;
    margin-bottom: 10px;
    text-align: center;
}
.product_discount  h1 span{
    font-weight: 300;
        font-family: 'Bebas Neue Book';
}
.product_discount .product_box{
    margin-top: 30px;
    box-shadow: 0px 8px 10px -1px #ccc;
}
.product_discount .product_box .product_content{
    padding: 42px 48px;
    background: #fff;
    text-align: center;
}
.product_discount .product_content  h4{
    border-bottom: 1px solid #000;
    padding-bottom: 13px;
    font-size: 18px;
    color: #000;
    font-weight: 700;
}
.product_discount .product_content  h3{
    padding-bottom: 13px;
    font-size: 26px;
    color: #000;
    font-weight: 800;
}
.product_delivery p{
    color: #5d5d5d;
    margin: 5px 0px;
}

div.laptop-wrapper {
    position: relative;
    padding-top: 25px;
    padding-bottom: 67.5%;
    height: 0;
}
div.laptop-wrapper iframe {
    box-sizing: border-box;
    background: url(../img/laptop.png) center center no-repeat;
    background-size: contain;
    padding: 11.9% 15.5% 14.8%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 2nd example :  BACKGROUND IMAGE */
div.desktop-wrapper {
    position: relative;
    padding-top: 25px;
    padding-bottom: 67.5%;
    height: 0;
}
div.desktop-wrapper iframe {
    box-sizing: border-box;
    background: url(../img/laptop.png) center center no-repeat;
    background-size: contain;
    padding: 7.9% 11.7% 10.8% 13%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 3rd example :  BACKGROUND IMAGE */
.header-unit {
    height: 150px;
    border: 2px solid #000;
    border-right:none;
    border-left: none;
    position: relative;
    padding: 20px;
}
#video-container {
    position: absolute;
}
#video-container {
    top:0%;
    left:0%;
    height:100%;
    width:100%;
    overflow: hidden;
}
video {
    position:absolute;
    z-index:0;
}
video.fillWidth {
    width: 100%;
}
.product_video{
    background: #eeeeee;
    padding: 50px 0 50px;
}
.product_video h2{
    font-size: 66px;
    color: #2f7fb7;
    font-family: 'Bebas Neue';
    font-weight: 500;
    line-height: 63px;
    text-align: center;
    margin-bottom: 10px;
}
.product_video h2 span{
    font-weight: 300;
        font-family: 'Bebas Neue Book';
}
.product_color_option {
    text-align: center;
    background: #1c1c1c;
    color: #fff;
    padding: 50px 0px;
}
.product_color_option h2 span{
    font-weight: 300;
        font-family: 'Bebas Neue Book';
}
.product_color_option h2 {
    font-size: 66px;
    font-family: 'Bebas Neue';
    font-weight: 500;
    line-height: 63px;
    margin-bottom: 10px;
    padding-bottom: 30px;
}
.product_color_option .product_content{
    padding-top: 30px;
}
.product_color_option .product_content  h4{
    font-size: 16px;
}

.product_color_option .product_content  h3{
    font-size: 16px;
    font-weight: 200;
}
/* -------------------------------------------Testimonials Carousel------------------------------------ */
.testimonial .loop {    padding: 0 10px;    text-align: center;    outline: none;}
.testimonial .loop p{ margin:0 auto;}
.testimonial .loop .pic img{	max-width:100px;	margin:10px 0;	border-radius:100%;	height:auto;	display:inline-block ;}
.testimonial .loop .title{
    font-size: 16px;
    color: #5d5d5d;
    font-weight: 800;
    margin-top: -6px;

}
/* -------------------------------------------Services Carousel------------------------------------ */
/*---------------------------------- Slick SLider----------------------------------------------------*/
.main-slider,
.item-slider,
.client,
.thumb-slider { display: none; }
.item-slider.slick-initialized,
.thumb-slider.slick-initialized,
.client.slick-initialized,
.main-slider.slick-initialized { display: block !important; }
.slider {position: relative;clear: left;overflow: hidden;}
.slider .inner-item {height: 400px;}
.slider .container {position: relative;}
.slick-slide .caption {color: #fff;font-size: 1.2em;line-height: 1.2em;position: absolute;left: 10%;text-shadow: 2px 2px 2px #000;top: 37%;width: 35%;background:rgba(0,0,0,0.7);padding:20px 20px 0;z-index: 99;}
.slick-slider {position: relative;display: block;box-sizing: border-box;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-touch-callout: none;-khtml-user-select: none;-ms-touch-action: pan-y;touch-action: pan-y;-webkit-tap-highlight-color: transparent;}
.thumb-slider .slick-slide {margin: 5px 0 0 5px;}
.slider-thumb .thumb-slider .slick-slide img{  max-width:100%; height:auto; box-sizing:border-box;}
.slick-list {position: relative;display: block;overflow: hidden;margin: 0;padding: 0;}
.slick-list:focus {outline: none;}
.slick-list.dragging {cursor: pointer;cursor: hand;}
.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);}
.slick-track {position: relative;top: 0;left: 0;display: block;}
.slick-track:before, .slick-track:after {display: table;content: '';}
.slick-track:after {clear: both;}
.slick-loading .slick-track {visibility: hidden;}
.slick-slide {display: none;float: left;height: 100%;min-height: 1px;position: relative;}
[dir='rtl'] .slick-slide {float: right;}
.slick-slide img {display: block;transition: all .25s ease;}
.slick-slide.slick-loading img {display: none;}
.slick-slide.dragging img {pointer-events: none;}
.slick-initialized .slick-slide {display: block;}
.slick-loading .slick-slide {visibility: hidden;}
.slick-vertical .slick-slide {display: block;height: auto;border: 1px solid transparent;}
.slick-arrow.slick-hidden {display: none;}
.slick-dots {position: absolute;z-index: 11;bottom: 10px;margin: 0px;padding: 0;text-align: center;width: 100%;}
.slick-dots li {list-style: none;display: inline-block;}
.slick-dots button {border: 1px solid #333;background: #fff;width: 12px;height: 12px;border-radius: 100%;font-size: 0;padding: 0px;margin-right: 5px;}
.slick-dots .slick-active button {background: #303030;}
.slick-arrow {border: 0px;font-size: 0;right: 0;margin-top:-20px;position: absolute;top: 50%;z-index: 1;background: #303030 url(../img/arrow.png) no-repeat center center;width: 36px;height: 40px;transform: rotate(180deg)}
.services-slider .slick-arrow {height: 65px;}
.slick-arrow:hover {background: #000 url(../img/arrow.png) no-repeat center center;}
.slick-next.slick-arrow {left: 0px;transform: rotate(0deg)}
.slider-progress {width: 100%;height: 5px;background: rgba(0,216,192,0.8);position: absolute;top: 0;z-index: 99;}
.slider-progress .progress {width: 0%;height: 5px;background: rgba(36,51,0,0.8);}
.thumb-slider .slick-active img {border: 1px solid transparent}
.thumb-slider .slick-current img {opacity:0.5;}
.testimonail_box{    padding: 70px 0px 50px}
.testimonail_box{}
.testimonail{
    padding: 20px 0px 25px;
}
.testimonail_box img{ width: auto; margin: auto}
.testimonail p {
    color: #5d5d5d;
    font-size: 15px;
    line-height: 24px;
    margin: 0 auto;
    padding: 0px 130px;
}
.testimonail .slick-arrow {
    border: 0px;
    font-size: 0;
    margin-top: -20px;
    position: absolute;
    bottom: -160px;
    z-index: 1;
    background:  url(../img/arrow.png) no-repeat center center;
    width: 36px;
    height: 40px;
    transform: rotate(180deg);
    left: 0px;
    right: -36px;
    margin: auto;
    outline: none;
}
.testimonail .slick-next.slick-arrow {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    left: -47px;
    right: 0px;
    margin: auto;
}
.testimonail .content{
    position: relative;
}
.rating{
    margin-left: 50px;
    position: absolute;
    top: 3px;
}
.frequntly_asked_question h2 span {
    font-weight: 300;
        font-family: 'Bebas Neue Book';
}
.frequntly_asked_question h2 {
    font-size: 66px;
    color: #2f7fb7;
    font-family: 'Bebas Neue';
    font-weight: 500;
    line-height: 63px;
    text-align: center;
    margin-bottom: 40px;
}
.accordion-container{position: relative;width: 100%;height: auto;margin: 20px auto;}
.accordion-container > h2{text-align: center;color: #fff;padding-bottom: 5px;margin-bottom: 30px;border-bottom: 1px solid #ddd;}
.set{position: relative;
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    margin-bottom: 30px;
}
.set > a{
    display: block;
    padding: 16px 8px;
    text-decoration: none;
    color: #555;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    background: #2f7fb7;
    color: #fff;
}
.set > a.active{color: #fff;}
.set > a:before{
    background: url(../img/arrow1.png) no-repeat;
    float: right;
    content: "";
    height: 20px;
    margin: 6px 0 0;
    width: 35px;
    padding: 7px 3px;
}
.set > a.active:before{    background: url(../img/arrow2.png) no-repeat; }
.accordion-container .content{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #fff;
    /* border-bottom: 1px solid #ddd; */
    display: none;
    padding: 12px 0px;
    color: #fff;
    font-size: 16px;
}
.accordion-container .content p{padding: 10px 15px;margin: 0;color: #333;font-weight: 600;}
.frequntly_asked_question{ padding: 5% 0;}
.order_confirmation{ background: #2f7fb7; padding: 80px 0px; }
.order_confirmation .seal_section{
    background-image: url(../img/seal_bg.png);
    background-size: cover;
    background-position: left;
    width: 100%;
    height: 158px;
    padding-top: 16px;
}
.order_confirmation .seal_section del{
    font-size: 24px;
    color: #2f7fb7;
    font-family: 'Bebas Neue';
    font-weight: 500;
    text-align: center;
}

.order_confirmation .save_money{
    margin-top: -25px;
}
.order_confirmation .save_money h1{
    font-size: 60px;
    color: #fff;
    font-family: 'Bebas Neue';
}
.order_confirmation .order_confirmation_inner{
    background: url(../img/order_confirmation.png) no-repeat center 100%;
    padding: 40px 50px;
    min-height: 1250px;
}
.order_confirmation h2 {
    font-size: 66px;
    color: #2f7fb7;
    font-family: 'Bebas Neue';
    font-weight: 500;
    line-height: 63px;
    text-align: center;
    margin-bottom: 40px;
}
.order_confirmation h2  span {
    font-weight: 300;
        font-family: 'Bebas Neue Book';
}

.order_confirmation  .order_confirmation_inner input , .order_confirmation  .order_confirmation_inner select{
    outline: none ;
    padding: 25px 10px;
    color: #9e9e9e;
    font-size: 13px;
    font-weight: 600;
    list-style: none;
    border: 1px solid #cdcbcb;
    border-radius: 0px;
    margin-bottom: 24px;
    width: 100%;
    text-transform: uppercase;
}
.order_confirmation  .order_confirmation_inner select{
    padding: 16px 10px;
}
.padleft{
    padding-left: 0px !important;
}
.padright{
    padding-right: 0px !important;
}
.order_confirmation  .order_confirmation_inner input[type="button"] {
    white-space: pre-wrap;
    display: flex;
    flex-wrap: wrap;
    padding: 8px 20px;
    width: 100%;
    word-break: break-word;
    background: #53b2f4;
    color: #fff;
    border: 0px;
    font-weight: 600;
}
.order_confirmation  .order_confirmation_inner input[type="button"]:hover {
    background: #0b70b6;
    transition: all .25s ease;
}
.order_confirmation  .order_confirmation_inner input[type="checkbox"] {
    padding: 0px;
    text-align: left;
    width: auto;
    margin: unset !important;
    display: block;
    top: 4px;
    background: #fff;
    border: 1px solid #000;
    width: 15px;
    height: 16px;
}
.order_confirmation  .order_confirmation_inner .form-check-label {
    padding-left: 21px;
    font-size: 12px;
    color: #5d5d5d;
}
.order_confirmation h3 {
    font-size: 36px;
    color: #2f7fb7;
    font-family: 'Bebas Neue';
    font-weight: 700;
    line-height: 63px;
    margin-bottom: -1px;
    letter-spacing: 0.5px;
}
.order_confirmation  .order_confirmation_inner button[type="submit"] {

    background: #f68b35;
    text-align: center;
    width: auto;
    margin: auto;
    padding: 18px 30px;
    font-weight: 700;
}
.order_confirmation .hover_block_button_1 {
    position: absolute;
    left: -23px;
    margin-top: 208%;
}
.order_confirmation .hover_block_button_2 {
    text-align: center;
    margin-right: -49px;
    z-index: 999;
    margin-top: 58px;
}
.hover_block_button_2 img{

}
.hover_block_button_2 .seal_section h2{
    margin: 0px;
}
.mouse_box_1{
    display: none;
}
.mouse_box_2{
    display: none;
}
.mouse_box_3{
    display: none;
}
.footer {
    background: #2c2c2c;
    color: #fff;
    padding: 70px 0px;
}

.footer .footer_title h4 {
    color: #2f7fb7;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
    margin-bottom: 20px;
}
.footer  .small_title{
    color: #2f7fb7;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
    margin-top: 30px;
}
.footer p {
    font-size: 14px;
    color: #fff;
    line-height: 24px;
}
.col-md-3.footer_sec_second {
    padding-top: 6%;
}

.footer ul li{
    margin-bottom: 15px;
}
.footer form input {
    background: transparent!important;
    border: 0px;
    border-bottom: 1px solid;
    font-weight: 500;
    color: #727272;
}
.footer form button[type="submit"] {
    background: transparent;
    position: absolute;
    right: 0px;
    bottom: 13px;
}

.footer .footer_sec_fourth a{
    color: #2f7fb7;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}

.footer .footer_sec_fourth ul li {
    margin-bottom: 15px;
    display: inline-block;
    margin-right: 13px;
}
.footer_title .social_link {
    clear: both;
    margin-top: 25px;
}
.footer_title .social_link  ul li { display: inline-block}
.footer_title .social_link  ul li a{
    background: #737373;
    padding: 6px 8px;
    border-radius: 100px;
    color: #353535;
}
.footer_title .social_link  ul li:nth-child(1) a{    padding: 6px 11px;}
.footer_title .social_link  ul li a:hover{
    color: #000;
    background: #2f7fb7;
}
.topbar ul li{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    width: 183px;
    text-align: center;
    border: 2px solid #f68b35;
}


.topbar ul li span{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: normal;
}
.border1{
    background-image: url(../img/border_1.png);
    width: 110px;
    height: 230px;
    background-repeat: no-repeat;
    position: absolute;
    top: 145px;
    right: -17px;

}
.border2{
    background-image: url(../img/border_2.png);
    width: 190px;
    height: 230px;
    background-repeat: no-repeat;
    position: absolute;
    top: 146px;
    left: -40px;

}
.loader-wrapper{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;

}
.newbutton{
    font-size: 66px;
    color: #f68b35;
    font-family: 'Bebas Neue';
    font-weight: 500;
    line-height: 63px;
    margin-bottom: 10px;
}
.navbar {
    margin-bottom: -15px;
    min-height: auto;
}
.discount_cart{
    position: absolute;
    top: 30px;
    left: 40px;
}
.discount_cart2{
    position: absolute;
    top: -14px;
    left: 0px;
}
.product_img img{
    padding-left: 15px;

}
.product_discount .product_img img{
    padding-left: 0px;

}
.product_discount .purchased_now a{
    color: #fff!important;
    background: #2f7fb7;
    padding: 9px 16px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
}
.footer .chat_icon{
     position: absolute;
    top: -24px;
    right: 12%;   
}
.footer{
  position: relative;  
}
.mouse_box_block{
    display:block;
}
.newbutton.price-button {
    position: absolute;
    right: 0px;
    top: 0%;
}
nav.navbar{
    display:none!important;
} 

.slider{position:relative; }
.newbutton.price-button {
    position: absolute;
    right: 0px;
    top: -25%;
}
@media (min-width: 100px) and (max-width: 767px) {
    .header-sticky.sticky{
        background-color: unset;
            box-shadow: unset;
    }
.newbutton.price-button {
    position: absolute;
    top: -5%;
    font-size: 45px;
    text-align: center;
    left: 0px;
}
 nav.navbar{
   /* display:block!important;*/
} 
.border1{
display:none;
}    
.border2{
display:none;
} 
.order_confirmation .hover_block_button_2 {
    text-align: center;
    margin-right: 0px;
    z-index: 999;
    margin-top: 58px;
}
.slider-left h2 {
    font-size: 55px;
    color: #2f7fb7;
    font-family: 'Bebas Neue';
    font-weight: 500;
    line-height: 63px;
    margin-bottom: 10px;
}
.top_logo{
     text-align: center;
    text-align: -webkit-center;
    margin-bottom: 37px;   
}
.top_logo img{
    margin:auto;
}
.topbar ul.list-inline{
        text-align: center;
}
.slider-right{
        padding-top: 30px;
}
.slider{
    position:relative;
}
.product_preview .box {
    padding: 42px 25px;
    background: #fff;
    box-shadow: 0px 8px 10px -1px #ccc;
    margin-top: -21%;
}
.product_preview .box {
    padding: 42px 15px;
    background: #fff;
    box-shadow: 0px 8px 10px -1px #ccc;
    margin-top: 0%;
}
.product_discount h1 {
    font-size: 39px;
    color: #2f7fb7;
    font-family: 'Bebas Neue';
    font-weight: 500;
    line-height: 45px;
    margin-bottom: 10px;
    text-align: center;
}
.discount_cart {
    position: absolute;
    top: 0px;
    left: 40px;
}
.great_gift .orange-button a {
    width: 220px;
    margin-top: 30px;
    text-align: center;
}
.great_gift h3 {
    text-transform: uppercase;
    font-size: 30px;
    color: #2f7fb7;
    margin-top: -5px;
    font-family: 'Bebas Neue';
    font-weight: bold;
}
.order_confirmation .order_confirmation_inner {
    background: #fff;
    padding: 7px 30px;
    min-height: 1598px;
    background-repeat: unset;
}
.order_confirmation_inner .col-md-6{
padding-left: 0px !important;
padding-right: 0px !important;
}
.order_confirmation h2 {
    font-size: 58px;
    color: #2f7fb7;
    font-family: 'Bebas Neue';
    font-weight: 500;
    line-height: 63px;
    text-align: center;
    margin-bottom: 40px;
}
.order_confirmation_inner .col-md-4{
padding-left: 0px !important;
padding-right: 0px !important;
}
.order_confirmation .hover_block_button_1 {
    position: relative;
    left: 0px;
    margin-top: 10%;
}
.order_confirmation .hover_block_button_1 img{
    width:100%;
}
.navbar-toggler{
      margin-bottom: 20px;  
}
.product_spcification h2 {
    font-size: 55px;
    font-family: 'Bebas Neue';
    font-weight: 500;
    line-height: 63px;
    margin-bottom: 10px;
}
.product_spcification ul li {
    font-size: 16px;
    margin: 6px 0px;
    font-weight: 200;
     display: flex;
         text-align: left;
}
}   
@media (min-width: 768px) and (max-width: 1020px) {
.product_discount .purchased_now a {
    color: #fff!important;
    background: #2f7fb7;
    padding: 9px 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
}
 
.order_confirmation .order_confirmation_inner {

    padding: 40px 50px;
    min-height: 1250px;
    background: #fff;
}  
.order_confirmation_inner .col-md-4.col-sm-12{
    max-width:100%;
}
.order_confirmation_inner .col-md-4 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.order_confirmation .save_money h1 {
    font-size: 36px;
    color: #fff;
    font-family: 'Bebas Neue';
}
}
